<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="listeners.AnnotationTransformer"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="testsuites.S10_34CreateTask" />
			<class name="testsuites.S10_42VerifyAlertForWorkType" />
			<class name="testsuites.S10_93CreateNewLeads" />
			<class name="testsuites.S10_5Verifyoppurtunitessort" />
			<class name="testsuites.S10_31EditCase" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
